 * {
    font-size: 12pt;
    font-family: "Arial Unicode MS", sans-serif;
}

.auth-form {
    margin: auto;
    border: 1px solid black;
    width: 20%;
    padding: 30px;
    overflow: auto;
}

.auth-form-container {
    margin:auto;
    width: 99%;
    padding: 5%;
}

.auth-form-input {
    width: 100%;
    line-height: 26px;
    margin-bottom: 5px;
}

#auth-submit {
    width: 100%;
    background: black;
    color: white;
}

.modal-form-submit {
    color: white;
    background-color: black;
    width: 100%;
}

button {
    margin-top: 10px;
}
